/* stylelint-disable-next-line block-no-empty */
.heartbeat-button {
  display: flex;
  align-items: center;
  main {
    .Icon {
      width: 5rem;
      margin-right: 2rem;
      color: red;
      display: block;
    }
  }

  * {
    user-select: none;
  }
}
