/* stylelint-disable-next-line block-no-empty */
.heartbeat-button {
  display: flex;
  align-items: center;

  main {
    .Icon {
      cursor: pointer;
      width: 5rem;
      margin-right: 2rem;
      color: var(--color-red-secondary);
      display: block;
    }
  }

  * {
    user-select: none;
  }
}
