:root {
  //Colors
  --color-blue-primary: #004d9d;
  --color-red-secondary: #f9574e;
  --color-orange-tertiary: #f6842b;
  --color-blue-light: #e6edf5;
  //Spacing rules
  --spacing-xxs: 0.5rem;
  --spacing-xs: 1rem;
  --spacing-s: 2rem;
  --spacing-m: 5rem;
  --spacing-l: 7rem;
  --spacing-xl: 10rem;
  --spacing-xxl: 14rem;
  //Fonts
  --font-heading: lato, sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--font-heading);
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}
