/* stylelint-disable-next-line block-no-empty */
.category-tag {
  display: flex;
  align-items: center;
  span {
    border: 3px solid currentColor;
    padding: 1rem 2rem;
    font-size: 2rem;
    border-radius: 0.5rem;
    margin-left: 2.5rem;
  }

  &:nth-child(1) {
    color: var(--color-blue-primary);
  }

  &:nth-child(2) {
    color: var(--color-red-secondary);
  }

  &:nth-child(3) {
    color: var(--color-orange-tertiary);
  }
}
