/* stylelint-disable-next-line block-no-empty */
.btn-primary-flat {
  a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1rem;
    text-align: center;
    padding: 15px 15px;
    color: var(--color-white);
    background: var(--color-blue-primary);
    border-radius: 12px;
  }
}
