/* stylelint-disable-next-line block-no-empty */
.misc-block {
  margin-top: 9rem;
  position: sticky;
  top: 2rem;

  .tag-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    li {
      color: #72728d;
      font-size: 1.75rem;
      padding: 0.5rem 1rem;
      border: 1px solid currentColor;
      flex-grow: 1;
      margin: 0.5rem;
      line-height: 1em;
      text-align: center;
      border-radius: 0.5rem;
      user-select: none;
      transition: 0.2s ease-out;

      &:hover {
        color: var(--color-text-primary);
        cursor: pointer;
      }

      &.active {
        background: #72728d;
        color: var(--color-white);
        border-color: #72728d;
      }
    }
  }

  .btn {
    width: 100%;
  }
}
