/* stylelint-disable-next-line block-no-empty */
.article-page {
  .back-link {
    position: absolute;
    z-index: 10;
    border: none;
    padding-bottom: 0;
    color: var(--color-white);
    top: 3rem;
    left: 3rem;
    opacity: 0.5;
    transition: 0.2s ease-out;

    span {
      width: 1em;
      margin-right: 1rem;
    }

    &:hover {
      opacity: 0.9;
    }
  }

  .bodyStyle {
    display: flex;
    align-items: center;
    flex-direction: column;

    h4 {
      max-width: 40ch;
      font-weight: 400;
    }

    p {
      max-width: 80ch;
    }
  }

  a {
    border-bottom: 2px solid var(--color-blue-light);
    color: var(--color-blue-primary);
    transition: 0.3s;
    padding-bottom: var(--spacing-m);
    &:hover {
      opacity: 0.5;
    }
  }
}
