/* stylelint-disable-next-line block-no-empty */
.article-page {
  padding-bottom: var(--spacing-l);

  .back-link {
    position: absolute;
    z-index: 10;
    border: none;
    padding-bottom: 0;
    color: var(--color-white);
    top: 3rem;
    left: 3rem;
    opacity: 0.5;
    transition: 0.2s ease-out;

    span {
      width: 1em;
      margin-right: 1rem;
    }

    &:hover {
      opacity: 0.9;
    }
  }

  .bodyStyle {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 2px solid var(--color-blue-light);
    padding-bottom: var(--spacing-m);

    .article-wrapper {
      max-width: 80ch;
      font-size: 2rem;

      h4 {
        font-weight: 400;
        font-size: 4rem;
      }

      p {
        margin: 3rem 0;
      }
    }
  }

  a {
    color: var(--color-blue-primary);
    transition: 0.3s;

    &:hover {
      opacity: 0.5;
    }
  }
}
