/* stylelint-disable-next-line block-no-empty */
.avatar-info {
  //background-color: red;
  display: flex;
  align-items: center;
  main {
    img {
      width: 9rem;
      height: 9rem;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 2rem;
    }
  }
  aside {
    h6 {
      margin: 0;
    }
  }
}
